.main-admin {
  pointer-events: none;
  opacity: 50%;
  background-color: #886693;
  border: 3px solid #5c415d;
  color: white;
  border-radius: 10px;
}

.card-title {
  padding-left: 30px;
  padding-top: 5px;
}

.users-list {
  width: 65%;
  display: flex;
  justify-content: space-between;
}

.card {
  width: 55%;
  margin-left: 80px;
  margin-top: 80px;
  filter: drop-shadow(5px 5px 5px #7b6c50);
  border-radius: 10px;
  background-color: #ede1d5;
}

.list-group-item {
  background-color: #dcc9b6;
  border-top: 1px solid #7b6c50;
}

.user {
  background-color: #886693;
  border: 3px solid #5c415d;
  color: white;
  border-radius: 10px;
}

.user:hover {
  background-color: #ac82ba;
  border: 3px solid #5c415d;
}

.back-btn {
  width: 160px;
  margin-left: 80px;
  margin-top: 30px;
  font-size: 25px;
}
