<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <button class="btn btn-lg btn-dark sticky-top" routerLink="/create">
    Create Task
  </button>
  <button
    *ngIf="isAdmin()"
    class="btn btn-lg btn-dark sticky-top"
    routerLink="/register"
  >
    Register New User
  </button>
  <button
    *ngIf="isAdmin()"
    class="btn btn-lg btn-dark sticky-top"
    routerLink="/add-admin"
  >
    Manage Admins
  </button>
  <button class="btn btn-lg btn-dark" (click)="logout()">Logout</button>
</nav>
<h1>Current Tasks</h1>

<label for="sort">Sort tasks by: </label>
<select
  class="custom-select custom-select-sm"
  name="sort"
  #sort
  (change)="sortTasks(sort.value)"
>
  <option></option>
  <option value="priority">Priority</option>
  <option value="date">Date</option>
</select>

<button
  type="button"
  class="btn btn-primary btn-sm"
  (click)="filterCompleted()"
>
  <span *ngIf="!completedFilter">Filter Completed</span>
  <span *ngIf="completedFilter">Unfilter Completed</span>
</button>

<ul class="list-group">
  <li *ngFor="let task of tasks" class="list-group-item">
    <h2>
      Title: <span>{{ task.title }}</span>
    </h2>
    <p>
      Submitted by: <span>{{ task.submitter }}</span>
    </p>
    <div>
      Description:
      <div class="description border rounded">{{ task.description }}</div>
    </div>
    <small class="label">Due date: {{ task.dueDate | date }}</small>
    <p>
      Priority:
      <span *ngIf="task.priority === 1">Emergency</span>
      <span *ngIf="task.priority === 2">High</span>
      <span *ngIf="task.priority === 3">Medium</span>
    </p>
    <button
      class="btn btn-primary btn-sm"
      *ngIf="task.completed"
      (click)="markCompleted(task.id)"
    >
      <svg
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 16 16"
        width="16"
        height="16"
        class="check"
      >
        <path
          fill-rule="evenodd"
          d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"
        ></path>
      </svg>
      Completed
    </button>
    <button
      class="btn btn-primary btn-sm"
      *ngIf="!task.completed"
      (click)="markCompleted(task.id)"
    >
      Complete?
    </button>

    <button
      type="button"
      class="btn btn-danger btn-sm"
      (click)="deleteTask(task)"
    >
      Delete Task
    </button>
  </li>
</ul>
