.check {
  color: white;
}

.sticky-top {
  float: right;
}

.custom-select {
  margin: 0 10px;
  width: 100px;
}

.navbar {
  background-color: #ede1d5;
  display: flex;
  justify-content: space-around;
  margin: -30px;
  margin-bottom: 30px;
}

.btn {
  margin: 5px;
}
.list-group {
  justify-content: space-around;
  margin-top: 10px;
}
.task-container {
  background-color: #dcc9b6;
  border-bottom: 1px solid #7b6c50;
  display: block;
  width: 80%;
  margin-left: 10%;
  filter: drop-shadow(5px 5px 5px #7b6c50);
}

.title {
  font-weight: bold;
  margin-left: 10%;
}
.task-header {
  display: block;
  margin-right: 10%;
}
.task-header:after {
  display: block;
  content: "";
  clear: right;
}
.task-options {
  background-color: #dcc9b6;
  border-radius: 5px;
  padding: 5px;
  width: 380px;

  float: right;
  display: block;
  filter: drop-shadow(5px 5px 5px #7b6c50);
}

.caps-header {
  color: #874d8a;
  font-weight: 700;
  font-size: 13px;
}

.description {
  background-color: #ede1d5;
  border: 1px solid #7b6c50;
  padding: 5px;
}

.complete-btn {
  background-color: #886693;
  border: 3px solid #5c415d;
  color: white;
  border-radius: 10px;
}

.complete-btn:hover {
  background-color: #ac82ba;
  border: 3px solid #5c415d;
}

.footer {
  margin-left: 10%;
  margin-top: 20px;
}
