form {
  margin-left: 50px;
  background-color: #dcc9b6;
  filter: drop-shadow(5px 5px 5px #7b6c50);
  border-radius: 10px;
  width: 800px;
  padding-bottom: 20px;
}

h3 {
  margin-bottom: 30px;
  padding-top: 30px;
}
.textarea {
  width: 410px;
}

.submitted-by {
  margin-right: 10px;
}

.back-btn {
  margin-left: 50px;
  margin-top: 20px;
}

.create-task {
  margin: 50px;
}
