form {
  margin-left: 50px;
  background-color: #dcc9b6;
  border: 2px solid #7b6c50;
}

.textarea {
  width: 410px;
}

.submitted-by {
  margin-right: 10px;
}

.alert {
  margin-top: 10px;
}

.back-btn {
  margin-left: 50px;
  margin-top: 20px;
}
