.header {
  text-align: center;
  margin-bottom: -100px;
}

form {
  display: flex;
  justify-content: space-around;
}

.change-password-container {
  background-color: #dcc9b6;
  filter: drop-shadow(5px 5px 5px #7b6c50);
  width: 500px;
  height: 400px;
  margin: 10%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.submit-btn {
  width: 150px;
  margin-top: 10px;
  margin-left: 32%;
}
