<h2>Change Password</h2>
<h4>Please change your password to continue</h4>

<form [formGroup]="form">
  <div class="form-group">
    <label for="">Old Password</label
    ><input formControlName="oldPassword" type="text" class="form-control" />
    <div
      *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="oldPassword.errors.required">
        Please enter your old password
      </div>
      <div *ngIf="oldPassword.errors.invalidPassword">
        Incorrect old password
      </div>
    </div>

    <label for="">New Password</label
    ><input formControlName="newPassword" type="text" class="form-control" />
    <div
      *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newPassword.errors.required">
        Please enter your new password
      </div>
    </div>

    <label for="">Confirm New Password</label
    ><input
      formControlName="confirmPassword"
      type="text"
      class="form-control"
    />
    <div
      *ngIf="confirmPassword.touched && confirmPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="confirmPassword.errors.required">
        Please confirm your password.
      </div>
    </div>
    <div *ngIf="form.invalid && form.errors">
      <div
        class="alert alert-danger"
        *ngIf="
          form.errors.passwordsShouldMatch &&
          newPassword.touched &&
          confirmPassword.touched
        "
      >
        New passwords should match.
      </div>
    </div>

    <button
      type="button"
      (click)="changePassword(user.id, confirmPassword.value)"
    >
      Submit
    </button>
    <button type="button" (click)="showErrors()"></button>
  </div>
</form>
