<div class="header">
  <h2>Change Password</h2>
  <h4>Please change your password to continue</h4>
</div>

<form [formGroup]="form">
  <div class="form-group change-password-container">
    <label for=""
      >Old Password<input
        formControlName="oldPassword"
        type="password"
        class="form-control"
      />
    </label>
    <div
      *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="oldPassword.errors.required">
        Please enter your old password
      </div>
      <div *ngIf="oldPassword.errors.invalidPassword">
        Incorrect old password
      </div>
    </div>

    <label for=""
      >New Password<input
        formControlName="newPassword"
        type="password"
        class="form-control"
      />
    </label>
    <div
      *ngIf="newPassword.touched && newPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="newPassword.errors.required">
        Please enter your new password
      </div>
    </div>

    <label for=""
      >Confirm New Password<input
        formControlName="confirmPassword"
        type="password"
        class="form-control"
    /></label>
    <div
      *ngIf="confirmPassword.touched && confirmPassword.invalid"
      class="alert alert-danger"
    >
      <div *ngIf="confirmPassword.errors.required">
        Please confirm your password.
      </div>
      <div *ngIf="form.invalid && form.errors">
        <div
          *ngIf="
            form.errors.passwordsShouldMatch &&
            newPassword.touched &&
            confirmPassword.touched
          "
        >
          New passwords should match.
        </div>
      </div>
    </div>

    <button
      class="btn-lg big-btn submit-btn"
      type="button"
      (click)="changePassword(user.id, confirmPassword.value)"
    >
      Submit
    </button>
  </div>
</form>
