/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  margin: 30px;
  background-color: #d4c1a1;
}

a {
  color: #5d1861;
}

a:hover {
  color: #830c8a;
}

.basic-btn {
  background-color: #5c415d;
  color: white;
  border: 3px solid #886693;
  border-radius: 10px;
}

.basic-btn:hover {
  background-color: #ac82ba;
  border: 3px solid #5c415d;
  color: white;
  padding: -2px;
}

.basic-btn:focus,
.basic-btn.focus {
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(153, 93, 156, 0.25);
}

.big-btn {
  background-color: #886693;
  border: 5px solid #5c415d;
  color: white;
  font-weight: 500;
  border-radius: 10px;
}

.big-btn:hover {
  background-color: #5c415d;
  border: 5px solid #886693;
  color: white;
}

.caps-header {
  color: #874d8a;
  font-weight: 700;
  font-size: 13px;
  text-transform: uppercase;
}

input,
textarea {
  border: 1px solid #7b6c50;
  border-radius: 10px;
}

.alert {
  margin-top: 10px;
  width: 400px;
}
