table {
  width: 700px;
  border-radius: 10px !important;
  filter: drop-shadow(5px 5px 5px #7b6c50);
}

.thead {
  background-color: #ede1d5;
}

th {
  border-top: none !important;
}

.trow {
  background-color: #dcc9b6;
}

.click {
  cursor: pointer;
}

.date-column {
  width: 200px;
}

.submit-complete {
  display: flex;
  justify-content: space-between;
  width: 350px;
}

.caps-header {
  margin-right: 5px;
  padding-top: 3px;
}

.description-header {
  margin-bottom: 0px;
}

.description {
  background-color: #ede1d5;
  border: 1px solid #7b6c50;
  padding: 5px;
  margin-bottom: 5px;
}

.back-btn {
  margin-bottom: 30px;
}
