.manage-account {
  background-color: #dcc9b6;
  filter: drop-shadow(5px 5px 5px #7b6c50);
  width: 600px;
  height: 500px;
  margin: 10%;
  padding: 2%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

input {
  width: 50%;
}

.submit-btn {
  width: 300px;
}
