<h2>Update your account details here!</h2>

<button routerLink="/change-password" class="btn basic-btn change-password-btn">
  Change Your Password
</button>
<form [formGroup]="form">
  <div class="form-group manage-account">
    <label for=""
      >Username
      <input
        formControlName="username"
        type="text"
        class="form-control"
        value="user.username"
      />
    </label>
    <label
      >Name
      <input
        formControlName="name"
        type="text"
        class="form-control"
        value="user.name"
      />
    </label>
    <label
      >Email
      <input
        formControlName="email"
        class="form-control"
        type="text"
        value="user.email"
      />
    </label>
    <label
      >Please enter your old password to continue.
      <input formControlName="oldPassword" class="form-control" />
    </label>
    <div
      *ngIf="oldPassword.touched && oldPassword.invalid"
      class="alert alert-danger"
    >
      Incorrect old password
    </div>

    <button
      type="button"
      class="btn-lg big-btn submit-btn"
      (click)="
        editDetails(user.id, {
          name: name.value,
          username: username.value,
          email: email.value
        })
      "
    >
      Submit Changes
    </button>
  </div>
</form>
<div class="alert alert-success" *ngIf="message">{{ message }}</div>
<div class="alert alert-danger" *ngIf="error">{{ error }}</div>
<button class="btn-lg big-btn back-btn" routerLink="/tasks">Go Back</button>
